In [1]:
#1. Create a Set
s1 = {2, 4, 6, 8, 10}
print(s1)
print(type(s1))
s2 = set(('USA', 'China', 'UK', 'Russia', 'India', 'France'))
print(s2)
print(type(s2))
s3 = set("Tutorial Gateway")
print(s3)
print(type(s3))

{2, 4, 6, 8, 10}
<class 'set'>
{'India', 'UK', 'China', 'France', 'USA', 'Russia'}
<class 'set'>
{'l', 'G', 'e', 'T', 'y', 'a', 't', 'u', 'r', 'w', 'o', ' ', 'i'}
<class 'set'>

In [4]:
#2. Adding single element to the set
set={1,'apple','mango',3,4}
set.add('banana')
print(set)

{1, 3, 'mango', 4, 'apple', 'banana'}

In [2]:
#3. Write a Python program to iterate over sets. 

num_set = set([0, 1, 2, 3, 4, 5])
for n in num_set:
  print(n, end=' ')
print("\n\nCreating a set using string:")
char_set = set("prachi")  
# Iterating using for loop
for val in char_set:
    print(val, end=' ')

0 1 2 3 4 5

Creating a set using string:
a h r c i p

In [5]:
#4.check if a set a subset of another set?
A={'a','c','e'}
B={'a','b','c','d','e'}
print('A is subset of B:',A.issubset(B))
print('B is subset of A:',B.issubset(A))

A is subset of B: True
B is subset of A: False

In [6]:
#5.Write a python program to check if a set is a subset, using comparison operators.
a={'a','b'}
b={'a','b','c'}
print("A subset of B:",a<=b)
print("B subset of A:",b<=a)

A subset of B: True
B subset of A: False

In [4]:
#6.Check if a specific value in a set.
thisset={"apple","banana","cherry"}
if "apple" in thisset:
     print("Yes,'apple'is in this set")

Yes,'apple'is in this set

In [13]:
#7. Write a Python program to add member(s) to a set. 

#A new empty set
color_set = set()
print(color_set)
print("\nAdd single element:")
color_set.add("red")
print(color_set)
print("\nAdd multiple items:")
color_set.update(["Blue", "green"])
print(color_set)

set()

Add single element:
{'red'}

Add multiple items:
{'green', 'red', 'Blue'}

In [14]:
#8. Write a Python program to remove item(s) from a given set.

num_set = set([0, 1, 3, 4, 5])
print("Original set:")
print(num_set)
num_set.pop()
print("\nAfter removing the first element from the said set:")
print(num_set)

Original set:
{0, 1, 3, 4, 5}

After removing the first element from the said set:
{1, 3, 4, 5}

In [5]:
#9. Write a Python program to remove an item from a set if it is present in the set.

#Create a new set
num_set = set([10,11,12,13,14,15])
print("Original set elements:")
print(num_set)
print("\nRemove 0 from the said set:")
num_set.discard(4)
print(num_set)
print("\nRemove 5 from the said set:")
num_set.discard(5)
print(num_set)
print("\nRemove 2 from the said set:")
num_set.discard(5)
print(num_set)
print("\nRemove 7 from the said set:")
num_set.discard(15)
print(num_set)

Original set elements:
{10, 11, 12, 13, 14, 15}

Remove 0 from the said set:
{10, 11, 12, 13, 14, 15}

Remove 5 from the said set:
{10, 11, 12, 13, 14, 15}

Remove 2 from the said set:
{10, 11, 12, 13, 14, 15}

Remove 7 from the said set:
{10, 11, 12, 13, 14}

In [20]:
#10. Write a Python program to create an intersection of sets.

setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
print("Original set elements:")
print(setx)
print(sety)
print("\nIntersection of two said sets:")
setz = setx & sety
print(setz)

Original set elements:
{'green', 'blue'}
{'blue', 'yellow'}

Intersection of two said sets:
{'blue'}

In [21]:
#11. Write a Python program to create a union of sets.

setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
setc = setc1.union(setc2)
print("\nUnion of above sets:")
print(setc)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
print("\nUnion of above sets:")
setn = setn1.union(setn2)
print(setn)

Original sets:
{'green', 'blue'}
{'blue', 'yellow'}

Union of above sets:
{'green', 'yellow', 'blue'}

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Union of above sets:
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
#12. Write a Python program to remove all elements from a given set. 

setc = {"Red", "Green", "Black", "White"}
print("Original set elements:")
print(setc)        
print("\nAfter removing all elements of the said set.")
setc.clear()
print(setc)

Original set elements:
{'Black', 'Green', 'Red', 'White'}

After removing all elements of the said set.
set()

In [17]:
#9. Write a Python program that uses frozensets.

x = frozenset([1, 2, 3, 4, 5])
y = frozenset([3, 4, 5, 6, 7])
#use isdisjoint(). Return True if the set has no elements in common with other. 
print(x.isdisjoint(y))
#use difference(). Return a new set with elements in the set that are not in the others.
print(x.difference(y))
#new set with elements from both x and y
print(x | y)

False
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6, 7})

In [13]:

#14. Write a Python program to find the maximum and minimum values in a set.

#Create a set
setn = {1, 5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nMaximum value of the said set:")
print(max(setn))
print("\nMinimum value of the said set:")
print(min(setn))

Original set elements:
{1, 2, 3, 20, 5, 10, 15}
<class 'set'>

Maximum value of the said set:
20

Minimum value of the said set:
1

In [6]:
#15. Write a Python program to find the length of a set.

#Create a set
setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nLength of the said set:")
print(len(setn))

setn = {5, 5, 5, 5, 5, 5}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nLength of the said set:")
print(len(setn))

setn = {5, 5, 5, 5, 5, 5, 7}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nLength of the said set:")
print(len(setn))

Original set elements:
{2, 3, 20, 5, 10, 15}
<class 'set'>

Length of the said set:
6
Original set elements:
{5}
<class 'set'>

Length of the said set:
1
Original set elements:
{5, 7}
<class 'set'>

Length of the said set:
2

In [14]:
#16. Write a Python program to check if two given sets have no elements in common.

x = {1,2,3,4}
y = {4,5,6,7}
z = {8}
print("Original set elements:")
print(x)
print(y)
print(z)
print("\nConfirm two given sets have no element(s) in common:")
print("\nCompare x and y:")
print(x.isdisjoint(y))
print("\nCompare x and z:")
print(z.isdisjoint(x))
print("\nCompare y and z:")
print(y.isdisjoint(z))

Original set elements:
{1, 2, 3, 4}
{4, 5, 6, 7}
{8}

Confirm two given sets have no element(s) in common:

Compare x and y:
False

Compare x and z:
True

Compare y and z:
True

In [15]:
#17. Write a Python program to remove the intersection of a second set with a first set.

sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("Original sets:")
print(sn1)
print(sn2)
print("\nRemove the intersection of a 2nd set from the 1st set using difference_update():")
sn1.difference_update(sn2)
print("sn1: ",sn1)
print("sn2: ",sn2)
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("\nRemove the intersection of a 2nd set from the 1st set using -= operator:")
sn1-=sn2
print("sn1: ",sn1)
print("sn2: ",sn2)

Original sets:
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

Remove the intersection of a 2nd set from the 1st set using difference_update():
sn1:  {1, 2, 3}
sn2:  {4, 5, 6, 7, 8}

Remove the intersection of a 2nd set from the 1st set using -= operator:
sn1:  {1, 2, 3}
sn2:  {4, 5, 6, 7, 8}

In [16]:
#18. Python program to convert Set into Tuple and Tuple into Set.

#   program to convert set to tuple
# create set

s = {'a', 'b', 'c', 'd', 'e'}
 
# print set

print(type(s), " ", s)
 
# call tuple() method 
# this method convert set to tuple

t = tuple(s)
 
# print tuple

print(type(t), " ", t)

<class 'set'>   {'b', 'd', 'c', 'a', 'e'}
<class 'tuple'>   ('b', 'd', 'c', 'a', 'e')

In [5]:
#19. Convert Set to String in Python.

# create a set 

s = {'a', 'b', 'c', 'd'} 

print("Initially") 

print("The datatype of s : " + str(type(s))) 

print("Contents of s : ", s) 

  
# convert Set to String 

s = str(s) 

print("\nAfter the conversion") 

print("The datatype of s : " + str(type(s))) 

print("Contents of s : " + s)

Initially
The datatype of s : <class 'set'>
Contents of s :  {'a', 'b', 'c', 'd'}

After the conversion
The datatype of s : <class 'str'>
Contents of s : {'a', 'b', 'c', 'd'}

In [7]:
#20. Python program to count number of vowels using sets in given string.

def vowel_count(str):

     

    # Initializing count variable to 0

    count = 0

     

    # Creating a set of vowels

    vowel = set("aeiouAEIOU")

     

    # Loop to traverse the alphabet

    # in the given string

    for alphabet in str:

     

        # If alphabet is present

        # in set vowel

        if alphabet in vowel:

            count = count + 1

     

    print("No. of vowels :", count)

     
# Driver code 

str = "GeeksforGeeks"
 
# Function Call

vowel_count(str)

No. of vowels : 5

In [9]:
#21. Using symmetric_difference() method.

a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a.symmetric_difference(b)  
print(c)

{3, 4, 5, 6, 8, 9, 10}

In [10]:
#22. Find the union, symmetric difference, and intersection of the two sets. Print the results of each operation.

s = set()
s.update(range(5, 15))
 
val = { 11, ("Python", "C"), ('J','O','E'),10 , 20 }
print("Set 1 :",s)
print("\nSet 2 :",val)
print("Union : ",s.union(val))
print("Symmetric Difference :",s.symmetric_difference(val))
print("Intersection :",s.intersection(val))

Set 1 : {5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

Set 2 : {('J', 'O', 'E'), 20, ('Python', 'C'), 10, 11}
Union :  {5, 6, 7, 8, 9, 10, 11, 12, 13, 14, ('J', 'O', 'E'), 20, ('Python', 'C')}
Symmetric Difference : {5, 6, 7, 8, 9, 12, 13, 14, 20, ('J', 'O', 'E'), ('Python', 'C')}
Intersection : {10, 11}

In [11]:
#23. Write a Python program to create set difference.

a = {30,40,70,20,80,50}
b = {20,50,60,40,90,10}
print("Original sets:")
print("A :",a)
print("B : ",b)
res1 = a.difference(b)
print("\nDifference of a - b:",res1)
res2 = b.difference(a)
print("\nDifference of b - a:",res2)

Original sets:
A : {80, 50, 20, 70, 40, 30}
B :  {50, 20, 90, 40, 10, 60}

Difference of a - b: {80, 70, 30}

Difference of b - a: {90, 10, 60}

In [12]:
#24. Write a Python program to remove an item from a set if it is present in the set.

s = {30,50,70,20,30,60}
print("Original set Values : ",s)
s.discard(20)
print("Remove 0 from the said set : ",s)
s.discard(50)
print("Remove 50 from the said set : ",s)
s.discard(5)
print(s)
s.discard(15)
print(s)

Original set Values :  {50, 20, 70, 60, 30}
Remove 0 from the said set :  {50, 70, 60, 30}
Remove 50 from the said set :  {70, 60, 30}
{70, 60, 30}
{70, 60, 30}

In [10]:
#25.convert a set into dictionary.

ini_set = {1, 2, 3, 4, 5}
 
# printing initialized set

print ("initial string", ini_set)

print (type(ini_set))
 
# Converting set to dictionary

res = dict.fromkeys(ini_set, 0)
 
# printing final result and its type

print ("final list", res)

print (type(res))

initial string {1, 2, 3, 4, 5}
<class 'set'>
final list {1: 0, 2: 0, 3: 0, 4: 0, 5: 0}
<class 'dict'>

In [11]:
#26.check if a given string is binary string or not.

def check(string):
 

    # set function convert string

    # into set of characters .

    p = set(string)
 

    # declare set of '0', '1' .

    s = {'0', '1'}
 

    if s == p or p == {'0'} or p == {'1'}:

        print("Yes")

    else:

        print("No")


if _name_ == "_main_":
 

    string = "101010000111"
 

    # function calling

    check(string)

NameError: name '_name_' is not defined

In [12]:
#27.This method deletes , Pop the element at the position mentioned in its arguments.


lis = [2, 1, 3, 5, 4, 3, 8]
  
# using del to delete elements from pos. 2 to 5
# deletes 3,5,4
del lis[2 : 5]
  
# displaying list after deleting 
print ("List elements after deleting are : ",end="")
for i in range(0, len(lis)):
    print(lis[i], end=" ")
      
print("\r")
  
# using pop() to delete element at pos 2
# deletes 3
lis.pop(2)
  
# displaying list after popping  
print ("List elements after popping are : ", end="")
for i in range(0, len(lis)):
print(lis[i], end=" ")

IndentationError: expected an indented block (2756825667.py, line 24)