### Tuple

Tuple is same as like list the only difference is Tuple is immutable

###### Q1 How we can form the tuple ?

In [1]:
print(" 1.By Round Bracket")
t=()
print(type(t))

print(" 2.By passing list, string, set to tuple function")

t1=tuple([1,2,3,2,3,"a",True])
print(t1)
print(type(t1))

s='word'
t=tuple(s)
print(t)
print(type(t))

set={1,34,7,9}
p=tuple(set)
print(p)
print(type(p))

 1.By Round Bracket
<class 'tuple'>
 2.By passing list, string, set to tuple function
(1, 2, 3, 2, 3, 'a', True)
<class 'tuple'>
('w', 'o', 'r', 'd')
<class 'tuple'>
(1, 34, 9, 7)
<class 'tuple'>

###### Q2 Write a statement to creat a tuple with single element

In [2]:
# We can form a tuple with single element by adding "," after an element.
# Here we can write any other number or String.
T1 = (4,)
print(T1)
print(type(T1))

(4,)
<class 'tuple'>

In [3]:
# Indexing and Slicing in tuple is same as String

###### Q3 Write a Python program to add an item to a tuple.

In [4]:
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
print(tuplex)

#adding items in a specific index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)

#converting the tuple to list
listx = list(tuplex) 

#use different ways to add items in list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30)

###### Q4 Write a program to accept 'n' number of sports from user and store in a tuple T1

In [5]:
T1=()
n = int(input("How many Sports you want to enter:"))
i=0
while i<n:
    spnm = (input("Enter Sport Name:"))
    T1 = T1 + (spnm,)
    i = i+1
print(T1)

How many Sports you want to enter:4
Enter Sport Name:Kabadi
Enter Sport Name:football
Enter Sport Name:basketball
Enter Sport Name:Cricket
('Kabadi', 'football', 'basketball', 'Cricket')

###### Q5 Write a Program to accept three numbers from user and insert it at the end of the tuple T1
T1=(23,32,4,5,2,12,23,7,9,10,23)

In [6]:
T1=(23,32,4,5,2,12,23,7,9,10,23)
t=()
for i in range(3):
    n1 = int(input("Enter any number:"))
    t = t + (n1,)
T1 = T1 + t
print(T1)

Enter any number:3
Enter any number:45
Enter any number:66
(23, 32, 4, 5, 2, 12, 23, 7, 9, 10, 23, 3, 45, 66)

###### Q6 Write a program to swap the values of the given tuples

In [7]:
T1=("A","B")
T2=(34,56)
T1,T2=T2,T1
print("T1= ",T1)
print("T2= ",T2)

T1=  (34, 56)
T2=  ('A', 'B')

###### Q7 Write a Program to print the frequency of number accepted from the user in given tuple: T1=(12,17,18,25,19,12,18,5)

In [8]:
T1=(12,17,18,25,19,12,18,5)
n1 = int(input("Enter a number:"))
print(T1.count(n1))

Enter a number:12
2

###### Q8 Write a Program to concatenate all the characters of given tuple. T1=('B','O','O','K')

In [9]:
#Method 1: using loop
T1=('B','O','O','K')
st=''
for i in T1:
    st+=i
print(st)

BOOK

In [10]:
#Method 2:using join function
T1=('B','O','O','K')
st=''.join(T1)
st

'BOOK'

###### Q9 Write a Program to remove a number (accepted from the user) from the given tuple: T1=(12, 15, 18, 21, 24, 27, 30)

In [11]:
T1=(12, 15, 18, 21, 24, 27, 30)
ele=int(input("Enter a number to be removed:"))
if ele in T1:
    L= list(T1)
    L.remove(ele)
    T1=tuple(L)
    print(T1)
else:
    print("Element not found")

Enter a number to be removed:34
Element not found

###### Q10 Write a program to store the details(Roll No., Name, Section) of three students in tuple, accept all data from user

In [13]:
Det=()
tem=()
for i in range(3):
    a=int(input("Enter Roll No.of student:"))
    b=input("Enter Name of Student:")
    c=input("Enter Section of Student:")
    tem=(a,b,c)
    Det=Det + (tem,)
print(Det)

Enter Roll No.of student:3
Enter Name of Student:Shantu
Enter Section of Student:A
Enter Roll No.of student:2
Enter Name of Student:Chaitu
Enter Section of Student:B
Enter Roll No.of student:4
Enter Name of Student:Parth
Enter Section of Student:f
((3, 'Shantu', 'A'), (2, 'Chaitu', 'B'), (4, 'Parth', 'f'))

###### Q11 Write a program to accept roll no form user and display it's detail from given tuple: Tup=((1,'Amita','B'),(2,'Sunita','C'),(3,'Daya','A'))

In [14]:
Tup=((1,'Amita','B'),(2,'Sunita','C'),(3,'Daya','A'))
Rn=int(input("Enter a number:"))
k=0
for i in range(3):
    if Rn==Tup[i][0]:
        print(Tup[i])
        k=1
        break
if k==0:
    print("Record not found")

Enter a number:4
Record not found

###### Q12 Write Program to accept five numbers from user and store these number in tuple. Display the following from Tuple  
1. Largest number
2. Smallest number
3. Sum of all numbers
4. Average of all numbers

In [15]:
t=()
for i in range(5):
    n1 = int(input("Enter a number:"))
    t = t + (n1,)
print('\n')    
print("Largest number:",max(t))
print("Smallest number:",min(t))
print("Sum of all numbers:",sum(t))
print("Average of all numbers:",sum(t)/5)

Enter a number:5
Enter a number:7
Enter a number:8
Enter a number:8
Enter a number:6


Largest number: 8
Smallest number: 5
Sum of all numbers: 34
Average of all numbers: 6.8

###### Q13 Write a program to print secound largest element in a given Tuple: T1=(21,45,87,45,67,43,23,12)

In [16]:
T1=(21,45,87,45,67,43,23,12)
# Firstly we have to sort the values
T1=sorted(T1)
T1[-2]

67

###### Q14 Write a program to display the sum of all even numbers and odd numbers seprately from given tuple:T1=(24,45,87,46,67,43,23,12)

In [17]:
T1=(24,45,87,46,67,43,23,12)
se=0
so=0
for i in T1:
    if i%2==0:
        se+=i
    else:
        so+=i
print('sum of even numbers are:',se)
print('sum of odd numbers are:',so)

sum of even numbers are: 82
sum of odd numbers are: 265

###### Q15 Write a Program to accept a number from the user and store first 10 numbers in a tuple

In [18]:
n1=int(input("Enter a number:"))
t=()
for i in range(1,11):
    t=t + (n1*i,)
print("Tuple= ",t)

Enter a number:6
Tuple=  (6, 12, 18, 24, 30, 36, 42, 48, 54, 60)

###### Q16 Write program to display the sum of all the numbers in a given tuple: T1=(1,2,3,'A','B',4,'Sun')

In [19]:
T1=(1,2,3,'A','B',4,'Sun')
s=0
for i in T1:
    if str(i).isdigit():
        s+=i
print("Sum = ", s)

Sum =  10

###### Q17 Write a program to accept a number  from user and creat a tuple containing all factors of number

In [20]:
n1=int(input("Enter a number:"))
t=()
for i in range(1,n1+1):
    if n1%i==0:
        t+=(i,)
print(t)

Enter a number:7
(1, 7)

###### Q18 Write a program to arrange all the subtuple in increasing order and store in another tuple

In [21]:
T1=((1,2,3),(45,23),(98,34,67))
T2=()
for i in T1:
    T2=T2+(tuple(sorted(i)),)
print(T2)

((1, 2, 3), (23, 45), (34, 67, 98))

###### Q19 Write a program to find the Union(Common elements Ones) of given tuples:
T1=(1,2,3,4,5,6)
T2=(3,5,7,9,11)
Expected output:1,2,3,4,5,6,7,9,11

In [22]:
T1=(1,2,3,4,5,6)
T2=(3,5,7,9,11)
for i in T2:
    if i not in T1:
        T1=T1+(i,)
print(T1)

(1, 2, 3, 4, 5, 6, 7, 9, 11)

###### Q20 Write a program to store the sum of all sub tuples of given tuple into a new tuple. for example
#Original Tuple:T1=((1,2,3),(45,23),(98,34,67),(34,56,78,9))
 #T2= (6,68,199,177)

In [23]:
T1=((1,2,3),(45,23),(98,34,67),(34,56,78,9))
T2=()
for i in T1:
    T2 = T2 +(sum(i),)
print(T2)

(6, 68, 199, 177)

###### Q21 Write a program to display names starting from vowel from the given tuple
T1=("Amit","Ram","Esha","Harry")

In [24]:
T1=("Amit","Ram","Esha","Harry")
for i in T1:
    if i[0] in ("aeiouAEIOU"):
        print(i)

Amit
Esha

###### Q22 Write a Python program to replace the last value of tuples in a list.

In [26]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

###### Q23 Write a Python program to sort a tuple by its float element from higher to lower

In [28]:
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

###### Q24 Write a Python program to count the elements in a list until an element is a tuple.

In [29]:
num = [10,20,30,(10,20),40]
ctr = 0
for n in num:
    if isinstance(n, tuple):
        break
    ctr += 1
print(ctr)

3

###### Q25 Write a Python program to calculate the product, multiplying all the numbers in a given tuple.
Sample output:Original Tuple:
(4, 3, 2, 2, -1, 18)
Product - multiplying all the numbers of the said tuple: -864

Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product - multiplying all the numbers of the said tuple: 27648

In [30]:
def mutiple_tuple(nums):
    temp = list(nums)
    product = 1 
    for x in temp:
        product *= x
    return product

nums = (4, 3, 2, 2, -1, 18)
print ("Original Tuple: ")
print(nums)
print("Product - multiplying all the numbers of the said tuple:",mutiple_tuple(nums))

nums = (2, 4, 8, 8, 3, 2, 9)
print ("\nOriginal Tuple: ")
print(nums)
print("Product - multiplying all the numbers of the said tuple:",mutiple_tuple(nums))

Original Tuple:
(4, 3, 2, 2, -1, 18)
Product - multiplying all the numbers of the said tuple: -864

Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product - multiplying all the numbers of the said tuple: 27648

###### Q26  Write a Python program to convert a given tuple of positive integers into an integer. 
Original tuple:
(1, 2, 3)

Convert the said tuple of positive integers into an integer:
123

Original tuple:
(10, 20, 40, 5, 70)

Convert the said tuple of positive integers into an integer:
102040570

In [31]:
def tuple_to_int(nums):
    result = int(''.join(map(str,nums)))
    return result

nums = (1,2,3)
print("Original tuple: ") 
print(nums)
print("Convert the said tuple of positive integers into an integer:")
print(tuple_to_int(nums))

nums = (10,20,40,5,70)
print("\nOriginal tuple: ") 
print(nums)
print("Convert the said tuple of positive integers into an integer:")
print(tuple_to_int(nums))

Original tuple:
(1, 2, 3)
Convert the said tuple of positive integers into an integer:
123

Original tuple:
(10, 20, 40, 5, 70)
Convert the said tuple of positive integers into an integer:
102040570

###### Q27. Write a Python program to compute the element-wise sum of given tuples. 
Sample output:

Original lists:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)

Element-wise sum of the said tuples:
(6, 9, 8, 6)

In [32]:
x = (1,2,3,4)
y = (3,5,2,1)
z = (2,2,3,1)
print("Original lists:")
print(x)
print(y)
print(z)
print("\nElement-wise sum of the said tuples:")
result = tuple(map(sum, zip(x, y, z)))
print(result)

Original lists:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)

Element-wise sum of the said tuples:
(6, 9, 8, 6)

###### Q28. Check if all items in the tuple are the same

In [1]:
def check(t):
    return all(i == t[0] for i in t)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

tuple2 = (23,45,6,67)
print(check(tuple2))

True
False

###### Q29 Modify the tuple Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222

In [2]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [2]:
a=34
if a%2==0:
    print("its even")
else:
    print("its not")

its even

###### Q30